







/** Class Selectors **/
.heading{
    text-align: center;
    font-size: 4rem;
}

.fa-school-flag{
    transform:scale(5);
    padding:7% 0 7% 0;
    margin:auto;
}
.first{
    width:85%;
    margin:auto;
    padding-top: 50px;
    text-align: center;
}
.head-col{
    font-family: 'montserrat-bold',sans-serif;
    font-size: 1.5rem;
    padding-top: 5%;
    margin:auto;
}


/** Entrance **/
.ent{
    font-size: 2.5rem;
    text-align: center;
}


/** Schlorships **/
.sch{
    font-size: 2.5rem;
    text-align: center;
}

.eligibility{
    font-weight: bold;
}
